* {
  box-sizing: border-box;
}

:root {
  --gray: #ccd2d9;
  --dark-gray: hwb(212deg 65% 33%);
  --footer-height: 4.5rem;
}

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Inter Tight', sans-serif;
}

main {
  padding: 1.5rem;
  text-align: center;
  height: calc(100vh - var(--footer-height));
  padding-top: 10vh;
}

@supports (height: 100dvh) {
  main {
    height: calc(100dvh - var(--footer-height));
  }
}

figure {
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.profile {
  border-radius: 999px;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

.heading-title {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  margin-top: 2.5rem;
  -webkit-font-smoothing: antialiased;
}

.breakline-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-font-smoothing: antialiased;
}

.breakline-heading span {
  display: block;
}

.subheading-lg {
  font-size: 1.75rem;
  font-weight: 200;
  color: var(--gray);
}

.subheading-md {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--gray);
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  height: var(--footer-height);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: var(--dark-gray);
}

a {
  color: inherit;
  text-decoration: none;
  transition: linear 150ms ease-in;
  text-underline-offset: 2px;
}
a:hover {
  color: var(--gray);
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  main {
    padding-top: 10vmin;
  }

  figure {
    width: 50vmin;
    max-width: 600px;
  }

  .heading-title {
    font-size: 4.5rem;
  }

  .subheading-lg {
    font-size: 2.75rem;
  }

  .subheading-md {
    font-size: 2.25rem;
  }
}

/* "Animation" */
body:not(.js-disabled) figure::after {
  content: '';
  width: 200%;
  height: 150%;
  display: block;
  position: absolute;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 63%,
    rgba(0, 0, 0, 0) 72%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
  left: 0;
  transform: translateX(-60%);
  transition: all 2s ease-out 250ms;
  background: radial-gradient(
    circle at center left,
    rgba(0, 0, 0, 0) 32%,
    rgba(0, 0, 0, 0.2679665616246498) 49%,
    rgba(0, 0, 0, 1) 72%
  );
}

body:not(.js-disabled) .profile {
  transform: scale(0.98);
  transition: all 500ms ease-out 400ms;
  transform-origin: center;
}

body:not(.js-disabled) .js-animated-heading {
  opacity: 0;
  transform: translateY(-5px) scale(0.95);
  transition: all 750ms ease-out 200ms;
  transform-origin: top center;
}

body:not(.js-disabled) .js-animated-footer {
  opacity: 0;
  transition: all 1s ease-out 1s;
}

body.js-animate figure::after {
  transform: translateX(50%);
}

body.js-animate .profile {
  transform: scale(1);
}

body.js-animate .js-animated-heading {
  opacity: 1;
  transform: translateY(0) scale(1);
}

body.js-animate .js-animated-footer {
  opacity: 1;
}
