* {
  box-sizing: border-box;
}

:root {
  --gray: #ccd2d9;
  --footer-height: 4.5rem;
}

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Inter Tight', sans-serif;
}

main {
  padding: 1.5rem;
  text-align: center;
  height: calc(100vh - var(--footer-height));
  padding-top: 10vh;
}

.profile {
  border-radius: 999px;
  width: 160px;
  height: 160px;
}

.heading-title {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

.breakline-heading span {
  display: block;
}

.subheading-lg {
  font-size: 1.75rem;
  font-weight: 200;
  color: var(--gray);
}

.subheading-md {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--gray);
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  height: var(--footer-height);
}

a {
  color: white;
  text-decoration: none;
  transition: linear 150ms ease-in;
  text-underline-offset: 2px;
}
a:hover {
  color: var(--gray);
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  main {
    padding-top: 20vh;
  }

  h1 {
    font-size: 4.5rem;
  }
}
